/* styles.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #4B0082; Deep Purple Color */
  background-color: #008080; /* Rich Teal Color */
  padding: 10px 20px;
}

.navbar-heading {
  color: #fff;
  font-size: 1.5em;
}

.navbar-subheading {
  color: #66CCCC; /* Light Teal Color */
  font-size: 1em;
}
.navbar-links {
  display: flex;
}

.navbar-links a {
  color: #fff;
  text-decoration: none;
  font-size: 1em;
  margin-left: 20px;
  transition: color 0.3s;
}

.navbar-links a:hover {
  color: #ddd;
}
